<h1>アイデア <%= link_to '(登録)', new_idea_path, class: '#' %></h1>
<div class="#">
  <div class="#">
   <h2>タグ一覧及びその登録数</h2>
   <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.taggings_count})", ideas_path(tag: tag.name), class: "#" %>
   <% end %>
  </div>
  <h2>アイデア一覧</h2>
  <%= link_to '全て表示', root_path, class: '#' %>
   <% @ideas.each do |idea| %> 
     <ul>
       <p>--------------------</p>
       <li>id：<%= idea.id %></li>
       <li>カテゴリー：<%= raw(idea.tag_list.join(', ')) %></li>
       <li>アイデア名：<%= idea.body %></li>
     </ul>
   <% end %> 
</div>